<configuration>
	<components>
		<component
						id="Ecom.ChargeService"
						service="Cuyahoga.Modules.ECommerce.Service.IChargeService, Cuyahoga.Modules.ECommerce"
						type="Cuyahoga.Modules.ECommerce.Service.ChargeService, Cuyahoga.Modules.ECommerce">
		</component>
		<component
			id="Ecom.DeliveryService"
			service="Cuyahoga.Modules.ECommerce.Service.IDeliveryService, Cuyahoga.Modules.ECommerce"
			type="Cuyahoga.Modules.ECommerce.Service.DeliveryService, Cuyahoga.Modules.ECommerce">
		</component>
		<component
			id="Ecom.CultureService"
			service="Cuyahoga.Modules.ECommerce.Service.ICultureService, Cuyahoga.Modules.ECommerce"
			type="Cuyahoga.Modules.ECommerce.Service.CultureService, Cuyahoga.Modules.ECommerce">
		</component>


		<component
			id="core.extemailtemp"
			service="Cuyahoga.Modules.ECommerce.Service.Email.ITemplateEngine, Cuyahoga.Modules.ECommerce"
			type="Cuyahoga.Modules.ECommerce.Service.Email.NVelocityTemplateEngine, Cuyahoga.Modules.ECommerce">
		</component>

		<component id="order.submit" type="Cuyahoga.Modules.ECommerce.Service.OrderProcessor.AlbionOrderCloseProcessor,Cuyahoga.Modules.ECommerce">
			<parameters>
				<SenderEmail>#{supportEmail}</SenderEmail>
				<SubjectTag>order_submit_subject</SubjectTag>
				<BccEmail>#{supportEmail}</BccEmail>
				<TemplateName>OrderSubmit</TemplateName>
			</parameters>
		</component>

		<component id="order.confirmation" type="Cuyahoga.Modules.ECommerce.Service.OrderProcessor.AlbionOrderCloseProcessor,Cuyahoga.Modules.ECommerce">
			<parameters>
				<SenderEmail>#{supportEmail}</SenderEmail>
				<SubjectTag>order_confirmation_subject</SubjectTag>
				<BccEmail>#{supportEmail}</BccEmail>
				<TemplateName>OrderConfirmation</TemplateName>
			</parameters>
		</component>

		<component
			id="ecommerce.payment"
			service="Cuyahoga.Modules.ECommerce.Service.PaymentProvider.IPaymentProvider,Cuyahoga.Modules.ECommerce"
			type="Cuyahoga.Modules.ECommerce.Service.PaymentProvider.EpdqCpiPaymentProvider,Cuyahoga.Modules.ECommerce">
			<parameters>
				<PaymentPageUrl>https://secure2.epdq.co.uk/cgi-bin/CcxBarclaysEpdq.e</PaymentPageUrl>
				<ReturnUrl>http://xxx/Checkout.aspx</ReturnUrl>
				<MerchantDisplayName>Lee Commerce</MerchantDisplayName>
				<ClientID>111</ClientID>
				<MerchantPassword>111</MerchantPassword>
			</parameters>
		</component>
	</components>
</configuration>
