.webImageMaker_popup
{
    position:absolute;
    left:0;
    top:0;
    z-index:500;
    background-color:#f0f0f0;
    border:1px solid black;
}

.webImageMaker_thumbs
{
    overflow:auto;
    width:250px;
    height:250px;
    position:absolute;
    z-index:501;
    background-color:#ffffff;
    border:1px solid #000000;
}

.webImageMaker_thumbs input
{
    margin:3px;
    padding:3px;
    float:left;
}

.webImageMaker_thumbpicker
{
    font-size:x-small;
    background-color:#ffffff;
    margin-bottom:4px;
}

.webImageMaker_canvas
{
    position:absolute;
    top:30px;
    left:15px;
    z-index:501;
}

.webImageMaker_selection
{
    position:absolute;
    border-style:dashed;
    border-width:2px;
    border-color:#ff0000;
    z-index:502;
}

.webImageMaker_popup input
{
    width:80px;
    margin:5px 0px 0px 15px;
}